<div id="<%= dom_id bugg %>" class="container border border-info" style="background: #d2f7f7">


<p>
<strong>Title</strong>
<%= bugg.title  %>
</p>


<p>
<strong>description</strong>
<%= bugg.description  %>
</p>


<p>
<strong>Type</strong>
</p>

<% if bugg.bugg_type == 0  %>
    Bug
<% else %>
    Feature
<% end %>


<p>
<strong>status</strong>
</p>

<% if bugg.status == 0  %>
    New

    <% elsif bugg.status == 1 %>
    Started

    <% else %>
        <% if bugg.bugg_type == 1 %>
          Completed
        <% else %>
           Resolved
        <% end %>

<% end %>

<p>

<strong>Project</strong>
<%= bugg.project.name %>
</p>


<p>
<strong>Screenshot</strong>
<% if (bugg.screenshot.url) != nil  %>
<image src="<%= url_for(bugg.screenshot.url)%>" >
<% else %>
<p> No screenshot was attached </p>
<% end %>

</p>

</div>
