<center>


<%= form_with(model: project, local: false ) do |form| %>
    <% if project.errors.any? %>
  
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label "Name of your project", style: "display: block" %>
    <%= form.text_field :name %>
  </div>
<br>


<strong> Add developer </strong>

<div class="container row">
    <%= form.collection_select(:user_ids, User.where.not(user_type: 0), :id, :name,{}, {:multiple => true}) %>
  </div>

<br>


<br>

  <div>
    <%= form.submit "Next", class: "project-btn", id:"pro" %>
  </div>




  <span id="helpBlock" class="help-block"></span>
<% end %>


</center> 


<script>


document.getElementById("pro").addEventListener("click", function(event){
 
  event.preventDefault()
});


  $(".project-btn").click(function(event) {
    let url = "/"
    event.preventDefault()
    $.ajax({
        url: url,
        success: function() {
            console.log('button pressed')
        },
        error: function() {
            console.log('failure')
        }
    });
}
  )
</script>
