<center>


<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label "Name of your project", style: "display: block" %>
    <%= form.text_field :name %>
  </div>
<br>

<% if !project.new_record? %>

<strong> Add developer </strong>

<div class="container row">
    <%= form.collection_select(:user_ids, User.where(user_type: 1), :id, :name,{}, {:multiple => true}) %>
  </div>
<% end %>

<br>


<% if !project.new_record? %>
<strong> Add QA </strong>
<div class="container row">
          
<%= form.collection_select(:user_ids, User.where(user_type: 2), :id, :name,{}, {:multiple => true}) %>
   
  </div>
<% end %>

<br>

  <div>
    <%= form.submit "Next" %>
  </div>
<% end %>


</center> 
