<center>


<%= form_with(model: project, local: false, id: "form_id" ) do |form| %>
    <% if project.errors.any? %>
  
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h4 id="helpBlock" class="help-block"></h4>

  <div>
    <%= form.label "Name of your project", style: "display: block" %>
    <%= form.text_field :name %>
  </div>
<br>


<strong> Add developer </strong>

<div class="container row">
    <%= form.collection_select(:user_ids, User.where.not(user_type: 0), :id, :name,{}, {:multiple => true}) %>
  </div>

<br>


<br>

  <div>
  <button id="pro2" onclick> Btn 2</button>
    <%= form.submit "Next", class: "project-btn", id:"pro" %>
  </div>




  
<% end %>


</center> 


<script type="module">

var formData = $('#form_id').serializeArray()

  $("#pro").on("click", function(e){
    e.preventDefault();
    var formData = $('#form_id').serializeArray()
    console.log(formData[1]["value"])
  });

</script>

