<div class="container" id="<%= dom_id project %>">

<hr>
  <p>
    <h2>
    <%= project.name %>
    </h2>
  </p>
  <p>


  <strong>Manager:</strong>
  <%= project.user.name  %>
</p>


<strong>Developers:</strong>

<% if project.users.where(user_type:1).count !=0 %> 


<div class = "row">
<% project.users.each do | u | %>
  <div>
    <% if u.user_type == 1 %>
      <%= u.name %>
    <% end %>
  </div>
<% end %>

<% else %> 

<p> No developers have been added to this project </p>

<% end %>

<br>

<strong>QA:</strong>

<% if project.users.where(user_type:1).count !=0 %> 
<div class = "row">
<% project.users.each do | u | %>
  <div> 
    <% if u.user_type == 2 %>
      <%= u.name %>
    <% end %>
  </div>
<% end %>

<% else %> 

<p> No developers have been added to this project </p>

<% end %>


<br><br>




</div>
