<p style="color: green"><%= notice %></p>
<center>
<hr>


<!-- Here the projects are displayed in table -->

<% if current_user.user_type == 0 %>
  <%= link_to "New project", new_project_path, class: "btn btn-primary"%>
  <hr>




  <h1>Projects you have created</h1>


<% elsif current_user.user_type == 1 %>

      
    

  <h1>Projects to develop</h1>
  
<% elsif current_user.user_type == 2 %>
<%= link_to "See all bugs", buggs_path, class: "btn btn-primary" %>
<br>
<br>

  <h1>Projects to test</h1>


  <% end %>

<% if @projects.count != 0 %>

  <div class="container" id="projects">
  <table class="table table-light ">
    <% num = 0 %>
    <thead>
    <tr>
      <th scope="col">Sr. no.</th>
      <th scope="col">Name</th>
      <th scope="col">Manager</th>
      
    </tr>
    </thead>
    <tbody>
    <% @projects.each do |project| %>
    <tr>
      <th scope="row"> <%= num=num+1 %> </th>
      <td> <%= link_to project.name, project %> </td>
      <td> <%= project.user.name %> </td>
      
    </tr>
    <% end %>
  
     </tbody>
    </table>


<% else %>
  <p>No projects to show</p>
<% end %>

    


 

</center>