<center>
  <p style="color: green"><%= notice %></p>
  
  
  <% if @project.user_ids.include? current_user.id or @project.user_id == current_user.id %>


   <%= render @project, from: 0 %>

  <div>
    <%= link_to "Back to projects", projects_path, :class => "btn btn-primary" %>
    <br>
    <br>
    <% if current_user.user_type == 0 %>
      <%= link_to "Add or change developers/QA", edit_project_path(@project), class: "btn btn-success" %>
      <br>
      <br>
      
      <%= button_to "Delete this project", @project, method: :delete, data: {confirm: "Are you sure?"}, :remote => true, :class => 'delete_project' %>
      <% end %>
  </div>


  <% if current_user.user_type == 2 %>
    <%= link_to "Add bug to this project", new_bugg_path( project_id: @project.id ), class: "btn btn-success" %>
      <br>
      <br>
  <% end %>

  <hr>

  <% if current_user.user_type == 1 or current_user.user_type ==  0 %>

    <% @buggss =  @project.buggs %>

    <% if @buggss.count != 0 %>
      <h3> Here are all the bugs in this project </h3>
    <% else %>
      <h3> No bugs found in this project yet</h3>
    <% end %>


  <% elsif current_user.user_type ==  2 %>
    <% @buggss =  @project.buggs.where(qa_id: current_user.id) %>
  <br>
    <% if @buggss.count != 0 %>
    <h3> Your created bugs in this project</h3>
    <% else %>
      <h3> You have not created any bugs in this project yet</h3>
    <% end %>
  <% end %>


  <% if current_user.user_type == 1 or current_user.user_type ==  2 or current_user.user_type ==  0  %>

   
    <div class="container" id="projects">
    <table class="table table-light ">
      <% num = 0 %>
      <thead>
      <tr>
        <th scope="col">Sr. no.</th>
        <th scope="col">Title</th>
        <th scope="col">Type</th>
        <th scope="col">Status</th>
        
      </tr>
      </thead>
      <tbody>
      <% @buggss.each do |bugg| %>
      <tr>
        <th scope="row"> <%= num=num+1 %> </th>
        <% if current_user.user_type != 3 %>
          <td> <%= link_to bugg.title, bugg %> </td>
        <% else %>
          <td> <%= bugg.title %> </td>
        <% end %>

        <td>  
      <% if bugg.bugg_type == 0  %>
        Bug
      <% else %>
        Feature
      <% end %>
    </td>

    <td> 
    <% if bugg.status == 0  %>
    New

    <% elsif bugg.status == 1 %>

    Started

    <% else %>
        <% if bugg.bugg_type == 1 %>
          Completed
        <% else %>
          Resolved
        <% end %>

    <% end %>
    </td>
    
       
    </tr>
    
  <% end %>
    
    </tbody>
  </table>





  <% if current_user.user_type == 1  %>
  
  <h3> Your solved bugs in this project</h3>

  
 
  <% @buggss1 = Bugg.where(project_id: @project.id) %>
  <% @buggss = @buggss1.where(solver_id: current_user.id) %>

  <% if @buggss.count != 0 %>
   
    <div class="container" id="projects">
    <table class="table table-light ">
      <% num = 0 %>
      <thead>
      <tr>
        <th scope="col">Sr. no.</th>
        <th scope="col">Title</th>
        <th scope="col">Type</th>
        <th scope="col">Status</th>
        
      </tr>
      </thead>
      <tbody>
      <% @buggss.each do |bugg| %>
      <tr>
        <th scope="row"> <%= num=num+1 %> </th>
        <% if current_user.user_type != 3 %>
          <td> <%= link_to bugg.title, bugg %> </td>
        <% else %>
          <td> <%= bugg.title %> </td>
        <% end %>

        <td>  
      <% if bugg.bugg_type == 0  %>
        Bug
      <% else %>
        Feature
      <% end %>
    </td>

    <td> 
    <% if bugg.status == 0  %>
    New

    <% elsif bugg.status == 1 %>

    Started

    <% else %>
        <% if bugg.bugg_type == 1 %>
          Completed
        <% else %>
          Resolved
        <% end %>

    <% end %>
    </td>
    
       
    </tr>
    
  <% end %>
    
    </tbody>
  </table>


  
<% end %>
<% end %>




  
<% end %>






<% else %>


<%= link_to "Back to projects", projects_path, :class => "btn btn-primary" %>
<br>
<br>
<% controller.redirect_to projects_path %>
<%= flash[:error] = :NotAutorised %>
    <p>You are not authorized to see this project</p>

  <% end %>



</center>